@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');

body {
    height: 100vh;
}

h1 {
  font-weight: 800;
  margin-top: 2%;
  margin-bottom: 1%;
  color: #d31919;
  font-size: 40px;
}

.dashboard {
  text-align: left;
}

td {
  font-size: 18px;
}

h2 {
  margin-top: 2%;
}

.form-control {
  border: 0;
}

.alert {
  height: 100px;
}

#dropdownMenu {
  color: black;
  border: none;
  background-color: transparent;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 1rem;
}

.searchBar {
  display: flex; 
  justify-content: end;
}

#searchInput {
  width: 700px;
}

.options {
  align-items: center;
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 20px;
}

.content {
  padding: 7rem 0; 
}

.navbar {
  background-color: #ac1414;
  z-index: 2;
}

/* NAVBAR */

.container-fluid {
  margin-left: 4rem;
  margin-right: 4rem;
}

.navbar-brand {
  margin-right: 50px;
}

.nav-item {
  padding: 15px;
}
